In [22]:
import pandas as pd

# Create a list containing Suburb names
suburb_list = [
    'Albert Park-Middle Park-West St Kilda', 'Armadale', 'Carlton North', 'Carlton-Parkville',
    'CBD-St Kilda Rd', 'Collingwood-Abbotsford', 'Docklands', 'East Melbourne', 'East St Kilda',
    'Elwood', 'Fitzroy', 'Fitzroy North-Clifton Hill', 'Flemington-Kensington',
    'North Melbourne-West Melbourne', 'Port Melbourne', 'Prahran-Windsor', 'Richmond-Burnley',
    'South Melbourne', 'South Yarra', 'Southbank', 'St Kilda', 'Toorak', 'Group Total', 'Balwyn',
    'Blackburn', 'Box Hill', 'Bulleen-Templestowe-Doncaster', 'Burwood-Ashburton', 'Camberwell-Glen Iris',
    'Canterbury-Surrey Hills-Mont Albert', 'Chadstone-Oakleigh', 'Clayton', 'Doncaster East-Donvale',
    'East Hawthorn', 'Glen Waverley-Mulgrave', 'Hawthorn', 'Kew', 'Mount Waverley', 'Nunawading-Mitcham',
    'Vermont-Forest Hill-Burwood East', 'Group Total', 'Aspendale-Chelsea-Carrum', 'Bentleigh', 'Brighton',
    'Brighton East', 'Carnegie', 'Caulfield', 'Cheltenham', 'Elsternwick', 'Hampton-Beaumaris', 'Malvern',
    'Malvern East', 'Mentone-Parkdale-Mordialloc', 'Murrumbeena-Hughesdale', 'Group Total', 'Altona',
    'Footscray', 'Keilor East-Avondale Heights', 'Melton', 'Newport-Spotswood', 'St Albans-Deer Park',
    'Sunshine', 'Sydenham', 'Werribee-Hoppers Crossing', 'West Footscray', 'Williamstown', 'Yarraville-Seddon',
    'Group Total', 'Broadmeadows-Roxburgh Park', 'Brunswick', 'Coburg-Pascoe Vale South', 'Craigieburn',
    'East Brunswick', 'Essendon', 'Gladstone Park-Tullamarine', 'Keilor', 'Moonee Ponds-Ascot Vale',
    'Oak Park-Glenroy-Fawkner', 'Pascoe Vale-Coburg North', 'Sunbury', 'West Brunswick', 'Group Total',
    'Bundoora-Greensborough-Hurstbridge', 'Eltham-Research-Montmorency', 'Fairfield-Alphington',
    'Heidelberg-Heidelberg West', 'Ivanhoe-Ivanhoe East', 'Mill Park-Epping', 'Northcote', 'Preston',
    'Reservoir', 'Thomastown-Lalor', 'Thornbury', 'Whittlesea', 'Group Total', 'Bayswater', 'Boronia',
    'Croydon-Lilydale', 'Ferntree Gully', 'Ringwood', 'Rowville', 'Wantirna-Scoresby', 'Yarra Ranges',
    'Group Total', 'Berwick', 'Cranbourne', 'Dandenong', 'Dandenong North-Endeavour Hills', 
    'Narre Warren-Hampton Park', 'Noble Park', 'Pakenham', 'Springvale', 'Group Total', 'Dromana-Portsea', 
    'Frankston', 'Hastings-Flinders', 'Mt Eliza-Mornington-Mt Martha', 'Seaford-Carrum Downs', 'Group Total', 
    'Belmont-Grovedale', 'Corio', 'Geelong-Newcombe', 'Herne Hill-Geelong West', 'Lara', 'Newtown', 
    'North Geelong', 'Group Total', 'Ballarat', 'Mount Clear-Buninyong', 'Sebastopol-Delacombe', 
    'Wendouree-Alfredton', 'Group Total', 'Bendigo', 'Flora Hill-Bendigo East', 'Golden Square-Kangaroo Flat',
    'North Bendigo', 'Group Total', 'Bairnsdale', 'Benalla', 'Castlemaine', 'Echuca', 'Hamilton', 'Horsham',
    'Mildura', 'Moe-Newborough', 'Morwell', 'Ocean Grove-Barwon Heads', 'Portland', 'Sale-Maffra', 'Seymour',
    'Shepparton', 'Swan Hill', 'Torquay', 'Traralgon', 'Wanagaratta', 'Warragul', 'Warrnambool', 'Wodonga',
    'Group Total'
]

df = pd.DataFrame(suburb_list, columns=['Suburb'])

# Remove rows containing 'Group Total'
filtered_df = df[~df['Suburb'].str.contains('Group Total')]

print(filtered_df)

filtered_df.to_csv("../data/curated/external/price_all_properties.csv", index=False)

                                    Suburb
0    Albert Park-Middle Park-West St Kilda
1                                 Armadale
2                            Carlton North
3                        Carlton-Parkville
4                          CBD-St Kilda Rd
..                                     ...
153                              Traralgon
154                            Wanagaratta
155                               Warragul
156                            Warrnambool
157                                Wodonga

[146 rows x 1 columns]

In [23]:
import pandas as pd

# Load the Excel file
excel_file_path = "../data/raw/external/Moving annual rent by suburb - March quarter 2023.xlsx"
excel_data = pd.read_excel(excel_file_path)

# Initialize an empty DataFrame for the cleaned data
cleaned_data = pd.DataFrame(columns=['Suburb', 'Date', 'Average Rent Price'])

# Iterate through the columns to extract date and corresponding median rent price
rows_list = []  # List to store row data
for i in range(2, len(excel_data.columns), 2):  # Skip first two columns, step every two columns (date, median price)
    date_label = excel_data.iloc[0, i]  # The date label is stored in the first row of each date column
    for index, row in excel_data.iterrows():
        suburb = row['Unnamed: 1']
        if pd.isna(suburb) or suburb.strip() == '':
            continue  # Skip rows without a suburb name
        price = row[i+1]  # Median price is the column right after the date column
        rows_list.append({'Suburb': suburb, 'Date': date_label, 'Average Rent Price': price})

# Create DataFrame from the list of dictionaries
cleaned_data = pd.DataFrame(rows_list)

# Display the first few rows of the cleaned data
print(cleaned_data.head())

C:\Users\Lijialan Wang\AppData\Local\Temp\ipykernel_20580\3720637026.py:18: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  price = row[i+1]  # Median price is the column right after the date column

                                  Suburb      Date Average Rent Price
0  Albert Park-Middle Park-West St Kilda  Mar 2000                165
1                               Armadale  Mar 2000                150
2                          Carlton North  Mar 2000                150
3                      Carlton-Parkville  Mar 2000                165
4                        CBD-St Kilda Rd  Mar 2000                250

In [24]:
import pandas as pd

# Read the 'All properties' sheet from the Excel file
file_path = "../data/raw/external/Moving annual rent by suburb - March quarter 2023.xlsx"
sheet_name = 'All properties'
df = pd.read_excel(file_path, sheet_name=sheet_name, skiprows=3)  # Skip the first 3 rows

print(df.head())

  Inner Melbourne Albert Park-Middle Park-West St Kilda  1143  260  1134  \
0             NaN                              Armadale   733  200   737
1             NaN                         Carlton North   864  260   814
2             NaN                     Carlton-Parkville  1339  260  1304
3             NaN                       CBD-St Kilda Rd  2132  320  2264
4             NaN                Collingwood-Abbotsford   652  230   653

   260.1  1177  270  1178  275  ...    867 500.5  855.1  515    881 500.6  \
0    200   738  205   739  210  ...    805   430    851  450    852   450
1    260   799  265   736  270  ...    581   580    535  595    547   600
2    260  1300  260  1320  260  ...   6143   310   6018  319   6871   340
3    320  2358  320  2361  320  ...  17845   365  16792  390  18284   419
4    230   700  240   709  240  ...   2353   430   2307  450   2517   480

     832  525    786  545
0    840  460    751  490
1    546  600    490  620
2   6627  350   6690  400
3  17627  450  17426  500
4   2365  495   2163  520

[5 rows x 188 columns]

# In to a CSV

In [25]:
import pandas as pd

# Load the Excel file
file_path = "../data/raw/external/Moving annual rent by suburb - March quarter 2023.xlsx"
excel_data = pd.ExcelFile(file_path)

# Read the "All properties" sheet
sheet_name = "All properties"
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Initialize flags
isYear = False
isKeyword = False
searchYear = "Mar 2021"
searKeyword = "Median"
columnIndex = 0

# Find the column index for the specified year and keyword
for column_name, column_data in df.items():
    res = column_data.to_string(index=False)
    if searchYear in res:
        isYear = True
    if isYear and searKeyword in res:
        isKeyword = True
    if isKeyword and isYear:
        # Get the index of the target column
        columnIndex = df.columns.get_loc(column_name)
        break

if columnIndex == 0:
    print("No column found")
    exit(0)

# Store key-value pairs in a dictionary
data_dict = {}

# Iterate through each row, using the second column as the key (suburb) and the target column's value as the value
for index, row in df.iterrows():
    key = row[1]  # Use the value from the second column as the key (suburb)
    if pd.isna(key) or key == "Group Total":
        continue
    value = row.iloc[columnIndex]  # Value from the target column
    data_dict[key] = value

# Convert the results to a DataFrame
result_df = pd.DataFrame(list(data_dict.items()), columns=["Suburb", searchYear])

# Print the result to confirm
print(result_df)

# Save the result as a CSV file
output_file_path = "../data/curated/external/price_postcode.csv"
result_df.to_csv(output_file_path, index=False)

print(f"CSV file saved to {output_file_path}")

                                    Suburb  Mar 2021
0    Albert Park-Middle Park-West St Kilda       500
1                                 Armadale       450
2                            Carlton North       580
3                        Carlton-Parkville       350
4                          CBD-St Kilda Rd       380
..                                     ...       ...
141                              Traralgon       330
142                            Wanagaratta       320
143                               Warragul       375
144                            Warrnambool       350
145                                Wodonga       340

[146 rows x 2 columns]
CSV file saved to D:/STUDYfile/ADS/P2/notebook/data2/price_postcode.csv

C:\Users\Lijialan Wang\AppData\Local\Temp\ipykernel_20580\363655410.py:39: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  key = row[1]  # 第二列的值作为 key (suburb)

In [26]:
import pandas as pd

# Load the Excel file
file_path = "../data/raw/external/Moving annual rent by suburb - March quarter 2023.xlsx"
sheet_name = "All properties"
df = pd.read_excel(file_path, sheet_name=sheet_name)

# Specify the list of years to extract
searchYears = ["Mar 2021", "Jun 2021", "Sep 2021", "Dec 2021", "Mar 2022", "Jun 2022", "Sep 2022", "Dec 2022", "Mar 2023"]
searKeyword = "Median"

# Store the final data result
data_dict = {"Suburb": []}  # First column is Suburb

# Iterate over each year and extract corresponding columns
for searchYear in searchYears:
    isYear = False
    isKeyword = False
    columnIndex = 0

    # Find the column index for the specified year and keyword
    for column_name, column_data in df.items():
        res = column_data.to_string(index=False)
        if searchYear in res:
            isYear = True
        if isYear and searKeyword in res:
            isKeyword = True
        if isKeyword and isYear:
            # Get the index of the target column
            columnIndex = df.columns.get_loc(column_name)
            break

    if columnIndex == 0:
        print(f"No column found for {searchYear}")
        continue

    # If it's the first extraction, fill the Suburb column
    if not data_dict["Suburb"]:
        for index, row in df.iterrows():
            key = row[1]  # Use the value from the second column as the key (suburb)
            if pd.isna(key) or key == "Group Total":
                continue
            data_dict["Suburb"].append(key)  # Fill the Suburb

    # Create a new column for the current year
    data_dict[searchYear] = []

    # Iterate over each row, extracting the target column's value as the data
    for index, row in df.iterrows():
        if pd.isna(row[1]) or row[1] == "Group Total":
            continue
        value = row.iloc[columnIndex]  # Value from the target column
        data_dict[searchYear].append(value)

# Convert the dictionary to a DataFrame
result_df = pd.DataFrame(data_dict)

# Print the result to confirm
print(result_df)

# Save the result as a CSV file
output_file_path = "../data/curated/external/price_suburb.csv"
result_df.to_csv(output_file_path, index=False)

print(f"CSV file saved to {output_file_path}")

C:\Users\Lijialan Wang\AppData\Local\Temp\ipykernel_20580\2504779392.py:40: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  key = row[1]  # 第二列的值作为 key (suburb)
C:\Users\Lijialan Wang\AppData\Local\Temp\ipykernel_20580\2504779392.py:50: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if pd.isna(row[1]) or row[1] == "Group Total":

                                    Suburb  Mar 2021  Jun 2021  Sep 2021  \
0    Albert Park-Middle Park-West St Kilda       500       500       500
1                                 Armadale       450       440       425
2                            Carlton North       580       575       575
3                        Carlton-Parkville       350       340       330
4                          CBD-St Kilda Rd       380       369       350
..                                     ...       ...       ...       ...
141                              Traralgon       330       340       350
142                            Wanagaratta       320       330       350
143                               Warragul       375       380       390
144                            Warrnambool       350       360       370
145                                Wodonga       340       350       360

     Dec 2021  Mar 2022  Jun 2022  Sep 2022  Dec 2022  Mar 2023
0         495       500       515       500       525       545
1         420       430       450       450       460       490
2         580       580       595       600       600       620
3         320       310       319       340       350       400
4         350       365       390       419       450       500
..        ...       ...       ...       ...       ...       ...
141       360       360       380       380       380       385
142       360       370       380       380       380       380
143       390       400       400       420       430       440
144       380       400       400       420       420       420
145       370       380       390       400       410       410

[146 rows x 10 columns]
CSV file saved to D:/STUDYfile/ADS/P2/notebook/data2/price_suburb.csv

# 1

In [27]:
import pandas as pd
data = pd.read_csv("../data/curated/external/price_suburb.csv")


# Split the suburbs with delimiter '-' into multiple rows as requested
split_rows = data['Suburb'].str.split('-', expand=True)

# Flattening the split rows into a single column, maintaining corresponding values for each row
expanded_df = pd.DataFrame()

for i in range(split_rows.shape[1]):  # iterate over columns produced by split
    temp_df = data.copy()
    temp_df['Suburb'] = split_rows[i]
    temp_df = temp_df.dropna(subset=['Suburb'])  # drop empty Suburb rows (resulting from split)
    expanded_df = pd.concat([expanded_df, temp_df], ignore_index=True)

# Save the newly expanded data to CSV
output_file_path = "../data/curated/external/expanded_price_suburb_v2.csv"
expanded_df.to_csv(output_file_path, index=False)

# Provide the path to the user for download
output_file_path

'D:\\STUDYfile\\ADS\\P2\\notebook\\data2\\expanded_price_suburb_v2.csv'

In [ ]:
import requests
url = 'https://github.com/Elkfox/Australian-Postcode-Data/blob/master/au_postcodes.csv'

response = requests.get(url)

if response.status_code == 200:
    with open('../data/raw//externel/au_postcodes.csv', 'wb') as file:
        file.write(response.content)
    print("files saved as 'au_postcodes.csv'")
else:
    print(f"download failed: {response.status_code}")

In [ ]:
data = pd.read_csv('../data/raw//externel/au_postcodes.csv')
data = data[data['state'] == 'VIC']
data.to_csv('../data/raw/external/au_postcodes.csv')

In [28]:
postcode = pd.read_csv("../data/raw/external/au_postcodes.csv")
df = pd.read_csv("../data/curated/external/expanded_price_suburb_v2.csv")
postcode = postcode.iloc[0:3224]
postcode

,postcode,place_name,state_name,state_code,latitude,longitude,accuracy
0,3000,Melbourne,Victoria,VIC,-37.8140,144.9633,4
1,3001,Melbourne,Victoria,VIC,-37.8140,144.9633,4
2,3002,East Melbourne,Victoria,VIC,-37.8167,144.9879,4
3,3003,West Melbourne,Victoria,VIC,-37.8101,144.9500,4
4,3004,Melbourne,Victoria,VIC,-37.8140,144.9633,4
...,...,...,...,...,...,...,...
3219,3995,St Clair,Victoria,VIC,-38.5752,145.5665,3
3220,3995,Wonthaggi,Victoria,VIC,-38.6059,145.5936,4
3221,3995,Cape Paterson,Victoria,VIC,-38.6709,145.6213,4
3222,3996,Pound Creek,Victoria,VIC,-38.6333,145.8000,4
3223,3996,Inverloch,Victoria,VIC,-38.6266,145.7226,4

In [29]:
df.loc[df['Suburb'] == 'CBD', 'Suburb'] = 'Melbourne'
postcode['postcode'] = postcode['postcode'].astype(str)

In [30]:
import pandas as pd

### stanardize name function
def standardize_name(name):
    # Convert to lowercase and sort alphabetically
    return ' '.join(sorted(name.lower().split()))

df['Standardized_Suburb'] = df['Suburb'].apply(standardize_name)
postcode['Standardized_Suburb'] = postcode['place_name'].apply(standardize_name)

In [31]:
### merge the data
merged_df = pd.merge(df, postcode[['Standardized_Suburb', 'postcode']], on='Standardized_Suburb', how='left')
merged_df = merged_df.drop(columns=['Standardized_Suburb'])

In [32]:
no_postcode = merged_df[merged_df['postcode'].isnull()]
no_postcode

,Suburb,Mar 2021,Jun 2021,Sep 2021,Dec 2021,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023,postcode
98,Yarra Ranges,400,415,420,425,433,450,460,460,478,NaN
110,Mt Eliza,520,545,550,570,590,600,600,600,600,NaN
155,Wanagaratta,320,330,350,360,370,380,380,380,380,NaN
162,St Kilda Rd,380,369,350,350,365,390,419,450,500,NaN
209,Newcombe,360,370,375,380,394,400,410,420,425,NaN
228,Mt Martha,520,545,550,570,590,600,600,600,600,NaN

In [33]:
merged_df.loc[merged_df['Suburb'] == 'Yarra Ranges', 'postcode'] = '3516'
merged_df.loc[merged_df['Suburb'] == 'Mt Eliza', 'postcode'] = '3930'
merged_df.loc[merged_df['Suburb'] == 'Wanagaratta', 'postcode'] = '3612'
merged_df.loc[merged_df['Suburb'] == 'St Kilda Rd', 'postcode'] = '3182'
merged_df.loc[merged_df['Suburb'] == 'Newcombe', 'postcode'] = '3219'
merged_df.loc[merged_df['Suburb'] == 'Mt Martha', 'postcode'] = '3934'

In [34]:
merged_df
merged_df.to_csv("../data/curated/external/merged_price.csv")

# cleaning

In [37]:
import pandas as pd

# Load the CSV file
file_path = '../data/curated/external/merged_price.csv'
data = pd.read_csv(file_path)

# Randomly drop duplicates in the 'postcode' column, keeping only the first occurrence
data_unique = data.drop_duplicates(subset='postcode', keep='first')

# Save the processed data to a new file, ensuring all 'postcode' values are unique
output_path = '../data/curated/external/unique_postcode_price.csv'
data_unique.to_csv(output_path, index=False)

print(f'The processed file has been saved to: {output_path}')

处理后的文件已保存到：D:\STUDYfile\ADS\P2\notebook\data2\unique_postcode_price.csv